.inputWrapper {
  display: flex;
  align-items: center;
  background-color: #4db6ac;
  border-radius: 4px;
  overflow: hidden;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #3d9a90;
}

.icon {
  color: #ffffff;
  font-size: 18px;
}

.input {
  flex: 1;
  padding: 14px 16px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffffff;
}

.input::placeholder {
  color: #ffffff;
  opacity: 0.9;
}

.input:focus {
  outline: none;
}
