name: CD
on: 
    push: 
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps: 
            - name: Deploy on AWS
              uses: appleboy/ssh-action@master
              with: 
                host: ${{secrets.AWS_IP}}
                username: ${{secrets.AWS_USER}}
                key: ${{secrets.AWS_KEY}}
                script: |
                    docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
                    docker pull kawtharshaalan/voicera-ai:latest
                    docker stop voicera-api || true
                    docker rm voicera-api || true
                    docker run -d \
                        -p 80:8080 \
                        -e OPENAI_API_KEY=${{secrets.OPENAI_API_KEY}} \
                        --name voicera-api \
                        --restart always \
                        kawtharshaalan/voicera-ai:latest
