name: CI
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Compose 
              run: docker compose version 

            - name: Build Containers
              run: docker compose build 

            - name: Testing
            echo: "working"
            
    push: 
        needs: test
        runs-on: ubuntu-latest
        if: github.ref == 'ref/heads/main'

        steps: 
            - name: Checkout node
              uses: actions/checkout@v4

            - name: Login to Docker Hub 
              uses: docker/login-action@v2
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_PASSWORD}}

            - name: Build and push 
              uses: docker/build-push-action@v4
              with: 
                context: ./api
                push: true
                tags: kawtharshaalan/voicera-ai:latest
<<<<<<< HEAD
                cache-from: type=gha
                cache-to: type=gha, mode=max
=======
                chache-form: type=gha
                cache-to: type=gha, mode=max
>>>>>>> c01b73c0763f4a9d4869a248c09b7279f3d30a20
